<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="ClothesWashingContext"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=.\sqlexpress;Initial Catalog=ClothesWashing_2;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="MongoDbConnection" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
  <appSettings>
    <add key="Storage" value="sql"/>
  </appSettings>
</configuration>